
:root {
    background-color: rgb(29,26,26)

}

* {
    box-sizing: border-box;
    margin: 0;
    font-size: 62.5%;
    font-family: sans-serif;
}

h1 {
    font-size: 5.5rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

p {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 88rem;
    margin: 0 auto;
    padding: 2rem;
}

.highscores-container #time {
    float: right;
    margin-top: 20px;

}


.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}


#highscores-button .btn {
    width: 20rem;
    color: white;
}

.btn {
    font-size: 3rem;
    width: 15rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28,26,26);
    background:linear-gradient(red,orange);
    border-radius: 4px;
    
}

.btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 1px rgb(28,26,26);
    transition: transform 200ms;
    transform: scale(1.1);
}

#question {
    width: 300px;
    max-width: 50%;
    color: white;
    font-size: 2.5rem;
}

.btn-grid {
    display: grid;
    margin: 20px;
}

.hide {
    display: none;
}
