 :root {
    background-color: lightcyan

}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}




#view-highscores {
    float: left;
}
#time {
    margin-left: 100px;
}

p {
    display: flex;
    justify-content: end;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
}

#start {
    
    font-size: 2.5rem;
    margin-top: 100px;
}



#question-container {
    border-radius: 5px; 
}

#question {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 100px;
}

#answer-button {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28,26,26);
    background:linear-gradient(red,orange);
    border-radius: 4px;
}

#highscores {
    font-size: 2.5rem;
}

.btn.correct {
    background-color: green;
}

.btn.wrong {
    background: red;
}


.btn:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px 1px rgb(28,26,26);
    transition: transform 200ms;
    transform: scale(1.1);
}


.hide {
    display: none;
}